{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/find_password.css' %}" rel="stylesheet" />
        <title>Find Password</title>
    </head>
    <body>
        <div class="main_container">
            <div class="find_pwd_text">Find Password</div>

            <div class="find_pwd_container">
                {% if new_error %}
                <div class="error_message">{{ new_error }}</div>
                {% endif %}

                <input placeholder="username" type="text" id="userName" required /><br />
                <input placeholder="email" type="email" id="eMail" required /><br />
                <input placeholder="phone number" type="text" id="phoneNumber" required /><br />
                <a href="{% url 'new_password'%}" class="confirm_btn" id="confirmBtn">Confirm</a>
            </div>
        </div>
    </body>
</html>
