{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/find_password.css?{% now "U" %}" />
        <title>Find Password</title>
    </head>
    <body>
        <form action="{%url 'find_password'%}">
            {% csrf_token %}
            <div class="main_container">
                <div class="find_pwd_text">Find Password</div>

                <div class="find_pwd_container">
                    <input placeholder="username" type="text" id="userName" name="username" required /><br />
                    <input placeholder="email" type="email" id="eMail" name="email" required /><br />
                    <input placeholder="phone number" type="text" id="phoneNumber" name="phone_number" required /><br />
                    <button class="confirm_btn" id="confirmBtn">Confirm</button>
                </div>
                {% if new_error %}
                <div><strong>Error:</strong> {{ new_error }}</div>
                {% endif %}
            </div>
        </form>
    </body>
</html>
