{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/login.css' %}" rel="stylesheet" />
        <title>Login</title>
    </head>
    <body>
        <form action="{%url 'login' %}" method="post">
            {% csrf_token %}
            <div class="main_container">
                <a class="home_btn" href="{% url 'board' %}"><img class="home_logo" src="{% static 'img/home_logo.svg' %}" alt="Home logo" /><span class="home_span">Home</span></a>
                <div class="login_text">Login</div>

                <div class="login_container">
                    <input placeholder="username" type="text" id="userId" name="username" /><br />
                    <input placeholder="password" type="password" id="pwd" name="password" />
                    <button class="login_btn" type="submit" id="loginBtn">Login</button>
                    <span class="divide_line"></span>
                    <a class="social_btn_google" href="{% url 'social:begin' 'google-oauth2' %}"
                        ><img class="google_logo" src="{% static 'img/btn_google.svg' %}" alt="Google logo" />Sign in with<span class="google_span">&nbsp;Google</span></a
                    >
                    <a class="social_btn_naver" href="{% url 'social:begin' 'naver' %}"
                        ><img class="naver_logo" src="{% static 'img/btn_naver.svg' %}" alt="Naver logo" /><span class="naver_span">Sign in with</span><span class="naver_span_2">&nbsp;NAVER</span></a
                    >
                </div>
                {% if error %}
                <div><strong>Error:</strong> {{ error }}</div>
                {% endif %}
                <div class="func_container">
                    <a href="{% url 'signup'%}" class="signup_btn" id="signupBtn">SignUp</a>
                    <a href="{% url 'find_password'%}" class="find_pwd" id="findPwd">Forgot password?</a>
                </div>
            </div>
        </form>
        <form method="post">{% csrf_token %} {{form.as_p}}</form>
    </body>
</html>
