{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/login.css' %}" rel="stylesheet" />
        <title>Login</title>
    </head>
    <body>
        <div class="main_container">
            <div class="login_text">Login</div>

            <div class="login_container">
                {% if error %}
                <div class="error_message">{{ error }}</div>
                {% endif %}

                <input placeholder="username" type="text" id="userId" required /><br />
                <input placeholder="password" type="password" id="pwd" required />
                <a href="{%url 'board_admin'%}" class="login_btn" id="loginBtn">Login</a>
            </div>
            <div class="func_container">
                <a href="{% url 'signup'%}" class="signup_btn" id="signupBtn">SignUp</a>
                <a href="{% url 'find_password'%}" class="find_pwd" id="findPwd">Forgot password?</a>
            </div>
        </div>
    </body>
</html>
