{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/new_password.css' %}" rel="stylesheet" />
        <title>New Password</title>
    </head>
    <body>
        <form action="{%url 'new_password'%}">
            {% csrf_token %}
            <div class="main_container">
                <div class="new_pwd_text">New Password</div>

                <div class="new_pwd_container">
                    <input placeholder="new password" type="password" id="pwd" name="password" required /><br />
                    <input placeholder="new password confirm" type="password" id="pwdConfirm" name="password_confirm" required /><br />
                    <button class="confirm_btn" type="submit" id="confirmBtn">Confirm</button>
                </div>
                {% if new_error %}
                <div><strong>Error:</strong> {{ new_error }}</div>
                {% endif %}
            </div>
        </form>
    </body>
</html>
