{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/new_password.css' %}" rel="stylesheet" />
        <title>New Password</title>
    </head>
    <body>
        <div class="main_container">
            <div class="new_pwd_text">New Password</div>

            <div class="new_pwd_container">
                {% if password_error %}
                <div class="error_message">{{ password_error }}</div>
                {% endif %}
                
                <input placeholder="new password" type="password" id="pwd" required /><br />
                <input placeholder="new password confirm" type="password" id="pwdConfirm" required /><br />
                <a href="{% url 'login'%}" class="confirm_btn" id="confirmBtn">Confirm</a>
            </div>
        </div>
    </body>
</html>
