* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pretendard", sans-serif;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
    position: relative;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    color: #f9f8f4;
    text-decoration: none;
}

.header_form {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header_container {
    width: 1920px;
    height: auto;
    display: flex;
    align-items: center;
    align-items: flex-end;
    justify-content: space-between;
    margin: auto;
}

.logo_image {
    width: 180px;
    height: 86px;
    display: flex;
    align-items: center;
    gap: 56px;
}

.search_image {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.right_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn_container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_btn {
    display: inline-block;
    gap: 40px;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    line-height: 104px;
    position: relative;
}

.header_btn:hover {
    color: rgb(255, 162, 162);
    transition: transform 0.8s, color 0.8s;
}

.header_btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f9f8f4;
    position: absolute;
    bottom: 40px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.header_btn:hover::after {
    transform: scaleX(1);
    background-color: #f9f8f4;
    transition: transform 0.5s ease;
}

button {
    display: flex;
    align-items: center;
    cursor: pointer;
    all: unset;
}

button:hover {
    cursor: pointer;
}

a {
    color: #f9f8f4;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    text-decoration-line: none;
}

.write_btn,
.login_btn {
    display: inline-block;
    background-color: #f9f8f4;
    color: #1e1e1e;
    border-radius: 2px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
}

.write_btn:hover,
.login_btn:hover {
    background-color: #696969;
    transition: transform 0.8s, background-color 0.3s, color 0.3s;
    color: #f9f8f4;
}

.logout_btn {
    display: inline-block;
    gap: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 104px;
    position: relative;
}

.logout_btn:hover {
    color: rgb(255, 162, 162);
    transition: transform 0.8s, color 0.3s;
}

.logout_btn::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f9f8f4;
    position: absolute;
    bottom: 40px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.logout_btn:hover::after {
    transform: scaleX(1);
    background-color: rgb(255, 162, 162);
    transition: transform 0.5s ease;
}

.row_box {
    display: flex;
    align-items: center;
    margin-left: 60px;
    gap: 30px;
}

.test_container {
    background-color: blue;
    color: red;
}

/* section */

/* main */

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 415px;
    position: relative;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 998;
    color: #f9f8f4;
    text-decoration: none;
}

.main_form {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.main_container {
    width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
}

.main_left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 997;
    width: 50%;
    flex: 0 0 768px;
    height: 100%;
    animation: fade-in 4s;
    overflow: visible;
    white-space: wrap;
}

.main_title {
    font-size: 48px;
    font-weight: bold;
}

.main_contents {
    display: block;
    font-size: 13px;
    line-height: 25px;
}

.readmore_btn {
    margin-top: 100px;
    width: 108px;
    height: 39px;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
}

.main_right_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 996;
    animation: fade-in 8s;
}

.main_image {
    width: 600px;
    height: 343px;
    opacity: 40%;
    display: flex;
    align-items: flex-end;
    position: absolute;
}

/* keyframes */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* article */
.article_form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.article_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 18px;
}

.article_container_second {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-top: 54px;
}

.article_post_item {
    width: 320px;
    height: auto;
    overflow-wrap: break-all;
}

.article_post_item_second {
    width: 320px;
    height: auto;
    overflow-wrap: break-all;
}

.article_post_date,
.article_post_content {
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: #1e1e1e;
    word-break: break-all;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.article_post_title {
    font-size: 20px;
    font-weight: bold;
    color: #1e1e1e;
}

/* footer */

footer {
    width: 100%;
    height: 200px;
    background-color: #e7e3da;
}

.footer_container {
    width: 90%;
    height: 200px;
    background-color: #e7e3da;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer_text_1 {
    font-size: 12px;
    color: #2b2b2b;
}

.footer_text_2 {
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #2b2b2b;
}
