body {
    display: flex;
    background-color: #F9F8F4;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
}

section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main {
    width: 70%;
}

details {
    width: 30%;
}

#title {
    width: 800px;
    height: 30px;
}

#content {
    width: 800px;
    height: 200px;
    margin-top: 30px;
}

.toast-container {
    position: fixed;
    top: 20px; /* 상단 여백 조절 */
    right: 20px; /* 우측 여백 조절 */
    z-index: 1000;
}

.toast {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.toast.show {
    display: block;
    animation: slideIn 0.5s ease-in-out, fadeOut 0.5s 2.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}