body {
    display: flex;
    background-color: #F9F8F4;
}

header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
}

section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main {
    width: 70%;
}

details {
    width: 30%;
}

#title {
    width: 800px;
    height: 30px;
}

#content {
    width: 800px;
    height: 200px;
    margin-top: 30px;
}