{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/board.css?{% now "U" %}" />
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="header_container">
                <div class="header_form">
                    <div class="logo_image">
                        <a href="{% url 'board' %}">
                            <img src="{% static 'img/sample_logo_dark.svg' %}" class="logo_image" />
                        </a>
                    </div>
                    <div class="right_container">
                        <div class="btn_container">
                            <form method="get" action="{% url 'search' %}">
                                {% csrf_token %}
                                <button type="submit">
                                    <img src="{% static 'img/magnifier_dark.svg' %}" class="search_image" />
                                </button>
                            </form>
                            <button class="header_btn" type="submit" id="dailyBtn"><a href="{% url 'filter_daily' %}">일상</a></button>
                            <button class="header_btn" type="submit" id="cookBtn"><a href="{% url 'filter_cook' %}">요리</a></button>
                            <button class="header_btn" type="submit" id="travelBtn"><a href="{% url 'filter_travel' %}">여행</a></button>
                            <button class="header_btn" type="submit" id="movieBtn"><a href="{% url 'filter_movie' %}">영화</a></button>
                            <button class="header_btn" type="submit" id="itBtn"><a href="{% url 'filter_it' %}">IT</a></button>
                        </div>
                        <div class="row_box">
                            {% if user.is_authenticated %}
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="logout_btn">Logout</button>
                            </form>
                            <a href="{% url 'write' %}" class="write_btn">Just Write!</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="login_btn">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section>
            <main>
                <div class="main_form">
                    <div class="main_container">
                        <div class="main_left_container">
                            <div class="main_title">슬기로운 빵빵이의 일상</div>
                            <div class="main_contents">
                                오르미 2기 여러분! 만나서 반갑습니다. <br />
                                빵빵이의 세계에 오신걸 환영합니다! <br />
                            </div>
                            <button class="readmore_btn" name="readmore_btn">READ MORE</button>
                        </div>
                        <div class="main_right_container">
                            <img src="{% static 'img/bbang2_smile.jpeg' %}" class="main_image" />
                        </div>
                    </div>
                </div>
            </main>
            <article>
                <div class="article_form">
                    <div class="article_container">
                        <!-- 첫째 줄 -->
                        {% for post in recent_posts %}
                        <div class="article_post_item">
                            <a href="{% url 'post' post_id=post.id %}" style="text-decoration: none; color: #000">
                                {% if post.image %}
                                <div class="article_post_image"><img src="{{ post.image.url }}" alt="" /></div>
                                {% else %}
                                <div class="article_post-image"><img src="{% static 'img/bbang2.png' %}" alt="" /></div>
                                {% endif %}
                                <div class="article_post_title">{{ post.title }}</div>
                                <div class="article_post_date">{{ post.created_at|date:"Y-m-d H:i" }}</div>
                                <div class="article_post_content">{{ post.content|truncatechars:500|safe|linebreaks|striptags }}</div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="article_container_second">
                        <!-- 둘째 줄 -->
                        {% for post in recents_posts %}
                        <div class="article_post_item_second">
                            <a href="{% url 'post' post_id=post.id %}" style="text-decoration: none; color: #000">
                                {% if post.image %}
                                <div class="article_post_image"><img src="{{ post.image.url }}" alt="" /></div>
                                {% else %}
                                <div class="article_post-image"><img src="{% static 'img/bbang2.png' %}" alt="" /></div>
                                {% endif %}
                                <div class="article_post_title">{{ post.title }}</div>
                                <div class="article_post_date">{{ post.created_at|date:"Y-m-d H:i" }}</div>
                                <div class="article_post_content">{{ post.content|truncatechars:500|safe|linebreaks|striptags }}</div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- 필터 적용 부분 -->
                <div class="article_form_second">
                    <div class="article_container">
                        <!-- 첫째 줄 -->
                        {% for post in daily_posts %}
                        <div class="article_post_item">
                            <a href="{% url 'post' post_id=post.id %}" style="text-decoration: none; color: #000">
                                {% if post.image %}
                                <div class="article_post_image"><img src="{{ post.image.url }}" alt="" /></div>
                                {% else %}
                                <div class="article_post-image"><img src="{% static 'img/bbang2.png' %}" alt="" /></div>
                                {% endif %}
                                <div class="article_post_title">{{ post.title }}</div>
                                <div class="article_post_date">{{ post.created_at|date:"Y-m-d H:i" }}</div>
                                <div class="article_post_content">{{ post.content|truncatechars:500|safe|linebreaks|striptags }}</div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="article_container_second">
                        <!-- 둘째 줄 -->
                        {% for post in dailys_posts %}
                        <div class="article_post_item_second">
                            <a href="{% url 'post' post_id=post.id %}" style="text-decoration: none; color: #000">
                                {% if post.image %}
                                <div class="article_post_image"><img src="{{ post.image.url }}" alt="" /></div>
                                {% else %}
                                <div class="article_post-image"><img src="{% static 'img/bbang2.png' %}" alt="" /></div>
                                {% endif %}
                                <div class="article_post_title">{{ post.title }}</div>
                                <div class="article_post_date">{{ post.created_at|date:"Y-m-d H:i" }}</div>
                                <div class="article_post_content">{{ post.content|truncatechars:500|safe|linebreaks|striptags }}</div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="footer_container">
                <span class="footer_text_1">Made With</span>
                <span class="footer_text_2">POWER BLOGER</span>
            </div>
        </footer>
    </body>
    <script>
        localStorage.setItem("recentPosts", JSON.stringify(recent_posts));
    </script>
</html>
