{% load static custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/temporary_posts.css' %}">
    <title>임시저장된 글 목록</title>
</head>
<body>
    <header class="temporary-header">
        <h1>임시저장된 글 목록</h1>
    </header>
    <div class="temporary-post-list">
        <ul>
            {% for temp_post in temporary_posts %}
            <li class="temporary-post">
                <h2 class="temporary-post-title">
                    <a href="{% url 'load_temporary_post' temp_post.id %}">{{ temp_post.title }}</a>
                </h2>
                <div class="temporary-post-content">{{ temp_post.content|striptags }}</div><br>
                <div class="temporary-post-time">{% custom_naturaltime temp_post.created_at %}</div>
                <form method="post" action="{% url 'write' %}">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{ temp_post.title }}">
                    <input type="hidden" name="content" value="{{ temp_post.content }}">
                </form>
            </li>
            {% endfor %}
            
        </ul>
    </div>
</body>
</html>
