{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="{% static 'css/write.css' %}" rel="stylesheet" />
        <link href="{% static 'summernote/summernote.css' %}" rel="stylesheet">
        <script src="{% static 'summernote/summernote.js' %}"></script>
        <title>Write</title>
    </head>
    <body>
        <header>
            <div>MYLOG</div>
            <div>일상</div>
            <div>요리</div>
            <div>여행</div>
            <div>영화</div>
            <div>IT</div>
            <div>Logout</div>
            <div>Just Write!</div>
        </header>
        <section>
            <form method="post" action="{% url 'write' %}">
                {% csrf_token %}
                {{ write_form.as_table }}
                <button type="submit">등록</button>
            </form>
        </section>
    </body>
    <script>
        $(document).ready(function() {
        $('#id_content').summernote();  // content 필드에 Summernote 적용
        });
    </script>
</html>
